
*{
    margin: 0px;
    padding: 0px;
}
body{
    width:100%;
    height: 109vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url(icons/Capturephar.PNG); */
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
   
}
.img{
    width: 100%;
    height: 109vh ;
    position: fixed;
    z-index: 0;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    position: fixed;
    top: 10px;
    left: 5px;
    z-index: 99px;
    margin: 0px;
}
nav a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 35px;
    text-decoration: none;
    direction: rtl;
    color: rgb(255, 255, 255);
    background-color: rgb(63, 245, 129);
    padding: 9px 10px;
    margin: 5px;
}
nav img{
    background-color: transparent;
    width:40px ;
    height: auto;
    margin: 5px;
}
.contuner{
    width: 90% ;
    padding-top: 90px ;
    display: flex;
    /* grid-template-columns: repeat(5,20%); */
   justify-content: center;
    align-items: center;
    flex-direction: column;
   margin: auto;
   margin-top: 360px;
   
   /* grid-auto-rows: minmax(400px , auto); */
   
  z-index: 99;
  }
  .messages{
    width: 50%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.645);
    z-index: 99;
    position: fixed;
    bottom: 10px;
   
  }
  .message{
    overflow: auto;
    height: 540px;
    scroll-padding-bottom: 0px;
    scroll-behavior: smooth;
  }
  .message::-webkit-scrollbar{
    width: 8px;
    scroll-padding-bottom: 0px;
    scroll-behavior: smooth;
  }
   .message::-webkit-scrollbar-to{
    top:0;
   }
  .message::-webkit-scrollbar-track{
    background-color: rgb(232, 234, 233);
  }
  .message::-webkit-scrollbar-thumb{
    background-color: rgb(176, 177, 176);
  }
  .send{
    width: 100%;
    position: absolute;
    bottom: 4px;
    padding: auto;
    z-index: 100;
  }
  .text{
    width: 90%;
    height: 35px;
    margin: 7px;
    border-radius: 5px;
    border: none;
  }
  .btn_send{
    width: 50px;
  }
  .said{
    width: 45%;
    height: auto;
    min-height:  37px;
    background-color: rgb(137, 137, 142);
    color: rgb(255, 255, 255);

    margin: 10px;
    padding: 5px 3px 2px 3px ;
    border-radius: 11px;
    text-align: center;
    font-size: 20px;
    position: relative;
    
  }
  .rest{
    width: 45%;
    height: auto;
   min-height:  37px;
    background-color: rgb(75, 75, 230);
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 5px 3px 2px 3px ;
    border-radius: 11px;
    text-align: center;
    font-size: 20px;
    position: relative;
    left: 51%;
  }
  .contacter{
    z-index: 100;
    width: 100%;
    height: 20px;
    background-color: rgb(255, 255, 255);
    text-align:center;
    padding: 20px 0px;
    position: absolute;
  }
  .contact{
    width: 200px;
    height: 85%;
    background-color: aliceblue;
    position: fixed;
    bottom: 0px;
    right: 1px;
    overflow: auto;
    padding: 2px;
  }
  .user{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 236, 234);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
    text-decoration: none;
  }
  .user img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0px;
  }