*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    width: 100%;
    height: 109vh;
    /* background-color: bisque; */
    background-color: blueviolet;
    /* background-image: url(icons/Capturephar.PNG); */
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img{
    width: 100%;
    height: 109vh ;
    position: fixed;
    z-index: 0;
}
nav{
    width: 100%;
    height: 80px;
   display:flex ;
   justify-content:space-between;
   align-items: center;
   background-color: rgba(250, 250, 250, 0.312);
   position: fixed;
   top: 0px;
   z-index: 90;
}
nav h2, img{
    margin: 10px 40px;
}

.contuner{
width: 90%;
padding-top: 90px ;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
z-index: 99;
}
.pharm{
    width:70% ;
    height:50px ;
    background-color:rgb(255, 255, 255);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
   /* margin: 10px 5px ; */
   padding: 5px 20px;
    box-shadow: 1px 1px  25px rgb(42, 41, 41);
    text-decoration: none;
}
.pharm img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: beige;
}
.pharm a{
    margin: 0px 20px;
}
.result{
 color: rgb(255, 255, 255);
 position: fixed;
 top: 40%;
 z-index: 99;
}
