*{
    margin: 0;
    padding: 0;
    color: white;
     text-decoration: none;
}
body{
    background-color: rgb(95, 95, 232);
    background-image: linear-gradient(90deg, rgb(43, 156, 248), rgb(87, 188, 131));

    /* background-color: rgb(255, 255, 255); */
    display: flex;
}
ul{
    list-style: none;
    
}

.menu{
    background-color: rgb(1, 68, 135);
    background-color: rgb(61, 172, 120);
    width: 60px;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    box-shadow: 7px 7px 40px rgb(25, 25, 25);
}
.menu:hover{
    width: 260px;
    box-shadow: 7px 7px 40px rgb(25, 25, 25);
}
.logo{
    display: flex;
    justify-content: center;
}
.img_logo{
    width: 160px;
    height: 160px;
}
.img_logo img{
    width: 100%;
    
}
.menu ul{
    width: 100%;
}
ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    transition: .5s;
    font-size: 0px;
}
/* ul li a h3{
    color: transparent;
    /* font-size: 0px; 
} */
ul li a:hover {
    background-color: #ffffff55;
    font-size: 25px;
}
.logout:hover {
    background-color: red;
}
/* ul li a h3:hover {
    color: rgb(255, 255, 255);
    font-size: 25px;
} */
ul li a img{
    width: 35px;
}
.show{
    width: 100%;
    height: auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    direction: rtl;
    
}
.fadd {
    width: 80%;
    max-width: 650px;
    padding: 40px 10px;
    margin: 40px;
    border-radius: 15px;
    background-image: linear-gradient(90deg, rgb(43, 156, 248), rgb(87, 188, 131));
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    box-shadow: 1px 1px 190px rgb(3, 14, 23);
    
}
.fadd input, select, option, .permet{
    background-color: rgb(255, 255, 255);
    color: black;
    width: 70%;
    min-width: 120px;
    height: 30px;
    margin: 5px;
    outline: none;
    border: none;
    border-radius: 6px;
    text-align: center;
    
    
}
.fadd textarea{
    width: 70%;
    height: 150px;
    color: black;
    font-size: 22px;
    border-radius: 10px;
    border: none;

}
.fadd input:focus{
    transform: scale(1.08);
    border: solid  rgb(141, 10, 248) 2px;
}
.fadd select:focus{
    transform: scale(1.08);
    border: solid  rgb(141, 10, 248) 2px;
}
.fadd h2{
    margin-bottom: 20px;

}
.fadd .btnadd{
    width: 65px;
    margin-top: 20px;
    background-color: rgb(78, 243, 78);
    box-shadow: 1px 1px 10px rgb(54, 55, 54) ;
    cursor: pointer;
}
.fadd img{
    width: 40px;
    position: relative;
    top: 28px;
    left: 20%;
}
.fadd .add_file{
    opacity: 1;
}
.fadd .btnadd:hover{
    width: 100px;
    height: 32px;
    box-shadow: 1px 1px 15px rgb(54, 55, 54) ;
}
.fadd .btnadd:hover{
    width: 100px;
    height: 32px;
    box-shadow: 1px 1px 15px rgb(54, 55, 54) ;
}
.permet{
    background-color: rgb(248, 245, 245,0.6);
    border:  2px dashed rgb(27, 27, 27);
    width: 69%;
    min-width: 120px;
    height: 35px;
    margin: auto;
    /* padding: auto; */
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inpfile{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    cursor: pointer;
    opacity: 0;
}
.permet img{
    position: absolute;
     top: 0px; 
     left: 40%; 
    height: 100%;
    width: auto;
    cursor: pointer;
}
