
* {
    margin: 0px;
    padding: 0px;
  }

  body {
    width: 100%;
    height: 109vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-size: 16px;
    position: relative;
  }

  nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 91;
    margin-bottom: 30px;
    background-color: #079a66;
}
  nav img{
    height: 60px;
  }
  .even{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
     margin-top: 170px;
  
     margin-bottom: 40px;

  }
  .event{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }
  .event img{
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .continer{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 120%;
    margin: 180px auto;
    padding: 60px 10px;
  }

  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
    }
    
    .grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    }
    
    .grid-item img {
    max-width: 100%;
    max-height: 200px; /* ajustez la hauteur selon vos besoins */
    height: 300px;
    }
    h2 {
              color:#079a66;
          }
    
    .grid-item button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #079a66;
    color: #fff;
    border: none;
    cursor: pointer;
    }
    .grid-item div{
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center ;
        margin: 10px;
    }
    .grid-item div input {
        background-color: red;
        border: none;
        padding: 4px;
        border-radius: 7px;
        color: #ffffff;
    }
    
    .grid-item button:hover {
    background-color: #079a66;
    }
    .more{
        width: 100%;
        height: auto;
        /* position: relative;
        top: 150px; */
      }
      .more h2{
        margin: 50px;

      }
      .more img{
        width: 90%;
        margin: 40px;
      }
      .more p{
        width: 90%;
        height: auto;
        margin: 30px;
        font-size: 28px;
      }
      .even {
        /* background-color: aqua; */
        margin-top: 390px;
        /* position: absolute;
        top : 40%;
        z-index: 30; */
      }